.locationMeubleeForm{
    display: flex;
    overflow-x: scroll;
    height: 100%;
}

.formGroup {
    margin-bottom: 10px;
}
.formGroup label {
    display: inline-block;
    width: 250px;
}
.inputField {
    padding: 5px;
    width: 150px;
}
.section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
h2 {
    color: #333;
}

#Step5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}