.Step2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.RadioButton {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #cbe4ff;
    background-color: white;
    color: #3f9cff;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    transition: 0.3s;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #8cc3ff;
    color: white;
}

.NavButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}
