.Step4 {
    display: none;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

select {
    background-color: #303030;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

.NavButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
