.Step4 {
    display: none;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

.NavButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
